/* Full Site */
* {
  font-family: Arial, Helvetica, sans-serif;
}

/* Root Tag */
html {
  background-color: #172038;
  padding: 20px;
}

/* Headers */
h1, h2, h3, h4 {
  color: #DE9E41;
}

/* Paragraphs and Lists */
p, li {
  color: #EBEDE9;
}

/* Links */
a {
  color: #75A743;
}

/* Table, and Table Rows */
table, tr {
  padding: 0px;
  margin: 0px;
}

/* Table Header "First Cell" */
th {
  color: #DE9E41;
  border: 2px solid #EBEDE9;
}

/* Table Data "Cells" */
td {
  color: #DE9E41;
  border: 2px solid #EBEDE9;
}

/* Class can be used to make pixel art images on HTML pages. */
.pixel-art {
  width: 256px;   /* 4x scale */
  height: 256px;
 
  image-rendering: pixelated;
  image-rendering: crisp-edges; /* Fallback for some browsers */
}
